<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= first_name %></dd>
      <dt>Middle name:</dt>
      <dd><%= middle_name %></dd>
      <dt>Last name:</dt>
      <dd><%= last_name %></dd>
      <dt>Phone:</dt>
      <dd><%= phone %></dd>
      <dt>Email:</dt>
      <dd><%= email %></dd>
      <dt>Group:</dt>
      <dd id="group_name"></dd>
    </dl>
  </div>
</div>

